.App {
  text-align: center;
}

.AppNavButton {
  color: white;
  text-decoration: none;
}

.LeftHeader {
  width: 50%;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
}

.RightHeader {
  width: 50%;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.Banner {
  border: 20px solid #fc3;
  margin-right: 100px;
  margin-top: 10px;
  min-width: 30pc;
}

.Left {
  margin-top: 0px;
  margin-left: 1025px;
  margin-bottom: 0px;
}
